src/main/app/kids-tracker-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <flow name="kids-tracker-consumer:behavior-processing-impl">
        <amqp:inbound-endpoint queueName="behavior" responseTimeout="10000" exchange-pattern="request-response" doc:name="AMQP-0-9" mimeType="application/json"/>
        <logger message="Entered #[flow.name]" level="INFO" doc:name="Start - log info"/>
        <flow-ref name="kids-tracker-consumer:persist-mongo-db-impl" doc:name="kids-tracker-consumer:persist-mongo-db-impl"/>
    </flow>
    <flow name="kids-tracker-consumer:persist-mongo-db-impl">
        <logger message="Entered #[flow.name]" level="INFO" doc:name="Start"/>
        <mongo:json-to-dbobject doc:name="Mongo DB"/>
        <mongo:save-object config-ref="Mongo_DB"     collection="behavior"  doc:name="Mongo DB"/>
        <logger message="Exiting #[flow.name]" level="INFO" doc:name="End"/>
    </flow>
</mule>
